@media screen and (max-width: 900px) {
    .computer {
        width: 70%;
        height: 50%;
    }
}
@media screen and (max-width: 625px) {
    .image {
        margin-top: 40px;
    }
}
@media screen and (max-width: 450px) {
    .offer {
        margin: 50px auto 0px auto;
    }
    .themes {
        display: block;
    }
    .block {
        margin: 0px auto 30px auto;
        width: 100%;
    }
    .email {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .btn {
        margin-top: 10px;
        width: 100%;
        height: 50px;
    }
    .email input {
        width: 100%;
    }
    h1 {
        font-size: 40px;
    }
    .trust {
        font-size: 24px;
    }
    .shop {
        flex-direction: column;
    }
    .advert {
        margin: 0 auto;
        width: 100%;
    }
    .img {
        width: 40%;
    }
    .logo {
        margin-top: 75px;
    }
    .cee {
        height: 50px;
    }
    .nalata {
        height: 75px;
    }
    .kirrin {
        height: 90px;
    }
    .tokyo {
        height: 55px;
        margin-top: 15px;
    }
    .meso {
        height: 60px;
    }
    .coco {
        margin-top: 15px;
        height: 40px;
    }
    .brook {
        margin-top: 20px;
        height: 55px;
    }
    .adore {
        margin-top: 30px;
        height: 20px;
    }
    .bottom {
        margin: 50px auto;
    }
    .platform {
        font-size: 20px;
    }
    .man {
        font-size: 13px;
    }
    .finish {
        width: 50%;
    }
    .nav {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #modal {
        padding: 35px 10px;
    }
    .form {
        width: 100%;
    }
    .start {
        font-size: 20px;
        margin-bottom: 20px;
    }
    #modal input[type="submit"] {
        width: 80%;
    }
}
@media screen and (max-width: 413px) {
    .image {
        margin-top: 20px;
    }
}
@media screen and (max-width: 325px) {
    .image {
        margin-top: 50px;
    }
}
@media screen and (max-width: 300px) {
    .image {
        margin-top: 60px;
    }
}