html, body {padding: 0; margin:0; box-sizing: border-box
}
*, *:before, *:after {
    box-sizing: inherit;
}
.online {
    background-color: #007f61;
    width: 100%;
    height: 600px;
    color: white;
}
.container {
    max-width: 780px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 20px;
}
.sell {
    margin: 0px auto -95px auto;
    max-width: 650px;
    width: 100%;
    height: 100%;
}
#wave-container {
    width: 100%;
    height: 100px;
    overflow: hidden;
  }
  
#wave {
    display: block;
    position: relative;
    height: 35px;
    background: #007f61;
  }
  
#wave:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 200px;
    background-color: white;
    right: -30%;
    top: 0px;
  }
  
#wave:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 400px;
    background-color: #007f61;
    left: -28%;
    top: -340px;
  }
.shopify {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-style: italic;
}
.fab {
    font-size: 38px;
}
.main {
    text-align: center;
}
p {
    font-size: 32px;
    font-weight: 700;
    margin: 0px 0px 0px 5px;
    font-family: sans-serif;
}
h1 {
    font-size: 58px;
    margin-bottom: 30px;
}
.trust {
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 35px;
    color: white;
}
.feedback {
    max-width: 500px;
    width: 100%;
    margin: 0px auto;
}
.email {
    display: flex;
    justify-content: space-between;
}
.btn {
    background-color: #202427;
    width: 32%;
    color: white;
    font-weight: 700;
    font-size: 15px;
    font-family: sans-serif;
    cursor: pointer;
    border-color: transparent;
    border-radius: 5px;
}
.btn:hover {
    box-shadow:  0 0 10px rgba(0,0,0,2);
    transition: 0.4s;
}
.email input {
    display: block;
    width: 64%;
    height: 50px;
    font-size: 19px;
    outline: none;
    padding: 0px 10px;
    color: black;
    border-radius: 5px;
    border-color: transparent;
}
.try {
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    margin: 30px 0px 0px 0px;
}
.image {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.computer {
    width: 60%;
    height: 45%;
}
.offer {
    max-width: 750px;
    margin: 30% auto 0% auto;
    height: auto;
}
.themes {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    width: 100%;
    color: #007f61;
}
.block {
    width: 31%;
}
.fas {
    font-size: 35px;
}
h2 {
    color:  #222327;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}
.text {
    font-size: 16px;
    font-weight: 300;
    margin: 0px;
    line-height: 25px;
}
.logo {
    margin-top: 150px;
}
.shop {
    display: flex;
    justify-content: space-between;
}
.advert {
    display: flex;
    justify-content: space-between;
    width: 25%;
}
.img {
    width: 45%;
}
.cee {
    height: 40px;
}
.nalata {
    height: 60px;
}
.kirrin {
    height: 60px;
}
.tokyo {
    height: 37px;
}
.meso {
    height: 50px;
}
.coco {
    height: 30px;
}
.brook {
    height: 40px;
}
.adore {
    margin-top: 10px;
    height: 18px;
}
.logo:before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #007f61;
    opacity: 0.4;
    margin-bottom: 40px;
}
.logo:after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #007f61;
    opacity: 0.4;
    margin-top: 40px;
}
.bottom {
    max-width: 750px;
    margin: 100px auto;
    text-align: center;
}
.platform {
    font-size: 25px;
    font-weight: 300;
    color:  #222327;
}
.man {
    margin: 20px auto 40px auto;
    color: #007f61;
    text-transform: uppercase;
    font-size: 15px;
}
.finish {
    height: 50px;
    width: 22%;
    background-color: #007f61;
}
.nav {
    text-align: right;
    margin-bottom: 25px;
}
.link {
    text-decoration: none;
    font-size: 17px;
    font-weight: 100;
    color: #007f61;
    font-family: sans-serif;
}




#modal {
      padding-top: 150px;
      display: none;
      width: 100%;
      height: 100vh;
      height: 100%;
      background-color: #222327;
      cursor: auto;
  }
.form {
    display: block;
    margin: 0px auto 20px auto;
    width: 40%;
    height: 50px;
    outline: none;
    padding: 0px 10px;
    color: white;
}
#modal input {
    display: block;
    margin: 0px auto 20px auto;
    width: 100%;
    height: 50px;
    outline: none;
    padding: 0px 10px;
    color: black;
    border-radius: 5px;
    border-color: transparent;
}
#modal input[type="submit"] {
    background-color: #007f61;
    width: 40%;
    margin: 0px 0px auto auto;
    color: white;
    font-weight: 700;
    font-size: 15px;
    font-family: sans-serif;
    cursor: pointer;
}
